/*table {
    table-layout: fixed;
}

th, td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

/*.form-control.is-invalid {
    border-color: #ced4da;
    background-color: #fffdda;
    background-image: none;
}*/

.is-dirty {
    background-color: #fffdda;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
